flows_raspberrypi.json
[{"id":"90e1efea.3b91a","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"b1ce5960.d64168","type":"serial-port","z":"","serialport":"/dev/ttyUSB0","serialbaud":"2400","databits":"8","parity":"none","stopbits":"1","newline":"1000","bin":"bin","out":"interbyte","addchar":false,"responsetimeout":"10000"},{"id":"ccfbe2cc.9eabe","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"vesoygt9AMS","name":"","usetls":false,"tls":""},{"id":"fea24fc9.4e6e7","type":"serial in","z":"90e1efea.3b91a","name":"","serial":"b1ce5960.d64168","x":130,"y":80,"wires":[["4fdb3a81.fc0774","83c6e5ab.eae468"]]},{"id":"4fdb3a81.fc0774","type":"debug","z":"90e1efea.3b91a","name":"RAW","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":340,"y":40,"wires":[]},{"id":"83c6e5ab.eae468","type":"split","z":"90e1efea.3b91a","name":"Split_P14","splt":"[\"0x9\",\"0x6\",\"0x1\",\"0x1\",\"0x1\",\"0x7\",\"0x0\",\"0xff\",\"0x6\"]","spltType":"bin","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":120,"y":160,"wires":[["b07cbd29.4fb17"]]},{"id":"b07cbd29.4fb17","type":"switch","z":"90e1efea.3b91a","name":"","property":"payload","propertyType":"msg","rules":[{"t":"tail","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":110,"y":208,"wires":[["2dbf5610.6fd87a"]]},{"id":"2dbf5610.6fd87a","type":"split","z":"90e1efea.3b91a","name":"Split_P23","splt":"[\"0x9\",\"0x6\",\"0x1\",\"0x1\",\"0x2\",\"0x7\",\"0x0\",\"0xff\",\"0x6\",\"0x0\"]","spltType":"bin","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":277,"y":207,"wires":[["fa1265af.1ffa28"]]},{"id":"fa1265af.1ffa28","type":"switch","z":"90e1efea.3b91a","name":"","property":"payload","propertyType":"msg","rules":[{"t":"tail","v":"1","vt":"num"},{"t":"head","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":267,"y":247,"wires":[["89f1fdc4.efa4f"],["955729a6.d910c8"]]},{"id":"a8a77bbb.4334c8","type":"debug","z":"90e1efea.3b91a","name":"P14","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":250,"y":420,"wires":[]},{"id":"955729a6.d910c8","type":"function","z":"90e1efea.3b91a","name":"Buffer2Int","func":"msg.payload = parseInt(msg.payload.toString('hex'), 16);\nreturn msg;","outputs":1,"noerr":0,"x":256,"y":370,"wires":[["a8a77bbb.4334c8","a48c6edb.c3882"]]},{"id":"89f1fdc4.efa4f","type":"split","z":"90e1efea.3b91a","name":"Split_Q12","splt":"[\"0x9\",\"0x6\",\"0x1\",\"0x1\",\"0x3\",\"0x7\",\"0x0\",\"0xff\",\"0x6\",\"0x0\"]","spltType":"bin","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":440,"y":240,"wires":[["87fe3d24.a1617"]]},{"id":"c205bd53.24dc1","type":"split","z":"90e1efea.3b91a","name":"Split_Q34","splt":"[\"0x9\",\"0x6\",\"0x1\",\"0x1\",\"0x4\",\"0x7\",\"0x0\",\"0xff\",\"0x6\",\"0x0\"]","spltType":"bin","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":619,"y":273,"wires":[["d17ee194.28e66"]]},{"id":"87fe3d24.a1617","type":"switch","z":"90e1efea.3b91a","name":"","property":"payload","propertyType":"msg","rules":[{"t":"tail","v":"1","vt":"num"},{"t":"head","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":442,"y":280,"wires":[["c205bd53.24dc1"],["ca941ced.4ec37"]]},{"id":"ca941ced.4ec37","type":"function","z":"90e1efea.3b91a","name":"Buffer2Int","func":"var str = msg.payload.toString('hex');\nmsg.payload = parseInt(str, 16);\nreturn msg;","outputs":1,"noerr":0,"x":432,"y":370,"wires":[["2dcf0573.aece9a","bc67ba98.256748"]]},{"id":"2dcf0573.aece9a","type":"debug","z":"90e1efea.3b91a","name":"P23","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":425,"y":418,"wires":[]},{"id":"1a079463.556c1c","type":"function","z":"90e1efea.3b91a","name":"Buffer2Int","func":"var str = msg.payload.toString('hex');\nmsg.payload = parseInt(str, 16);\nreturn msg;","outputs":1,"noerr":0,"x":625,"y":364,"wires":[["e71ccc21.6616f","62199f05.4d877"]]},{"id":"d17ee194.28e66","type":"switch","z":"90e1efea.3b91a","name":"","property":"payload","propertyType":"msg","rules":[{"t":"tail","v":"1","vt":"num"},{"t":"head","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":621,"y":315,"wires":[["9a013945.e7fdf8"],["1a079463.556c1c"]]},{"id":"e71ccc21.6616f","type":"debug","z":"90e1efea.3b91a","name":"Q12","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":615,"y":418,"wires":[]},{"id":"9a013945.e7fdf8","type":"split","z":"90e1efea.3b91a","name":"Split_IL1","splt":"[\"0x9\",\"0x6\",\"0x1\",\"0x1\",\"0x1f\",\"0x7\",\"0x0\",\"0xff\",\"0x6\",\"0x0\"]","spltType":"bin","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":831,"y":306,"wires":[["45d9075b.5c7b58"]]},{"id":"b5eaaa83.bba078","type":"function","z":"90e1efea.3b91a","name":"Buffer2Int","func":"var str = msg.payload.toString('hex');\nmsg.payload = parseInt(str, 16);\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":420,"wires":[["171c7f4b.395711","8fba62d1.811c5"]]},{"id":"45d9075b.5c7b58","type":"switch","z":"90e1efea.3b91a","name":"","property":"payload","propertyType":"msg","rules":[{"t":"tail","v":"1","vt":"num"},{"t":"head","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":823,"y":353,"wires":[["bd49256f.6a9c18"],["b5eaaa83.bba078"]]},{"id":"391799a4.cf2166","type":"debug","z":"90e1efea.3b91a","name":"IL1","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1010,"y":520,"wires":[]},{"id":"bd49256f.6a9c18","type":"split","z":"90e1efea.3b91a","name":"Split_IL2","splt":"[\"0x9\",\"0x6\",\"0x1\",\"0x1\",\"0x33\",\"0x7\",\"0x0\",\"0xff\",\"0x6\",\"0x0\"]","spltType":"bin","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":1000,"y":346,"wires":[["648d41b3.8e15a"]]},{"id":"84305d3a.295a2","type":"function","z":"90e1efea.3b91a","name":"Buffer2Int","func":"var str = msg.payload.toString('hex');\nmsg.payload = parseInt(str, 16)/1000;\nreturn msg;","outputs":1,"noerr":0,"x":1016,"y":464,"wires":[["391799a4.cf2166","2124d6d.24f252a"]]},{"id":"648d41b3.8e15a","type":"switch","z":"90e1efea.3b91a","name":"","property":"payload","propertyType":"msg","rules":[{"t":"tail","v":"1","vt":"num"},{"t":"head","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":1010,"y":400,"wires":[["43f2f464.a296cc"],["84305d3a.295a2"]]},{"id":"b2d28ee7.31519","type":"debug","z":"90e1efea.3b91a","name":"IL2","active":false,"tosidebar":false,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1230,"y":580,"wires":[]},{"id":"43f2f464.a296cc","type":"split","z":"90e1efea.3b91a","name":"Split_IL3","splt":"[\"0x9\",\"0x6\",\"0x1\",\"0x1\",\"0x47\",\"0x7\",\"0x0\",\"0xff\",\"0x6\",\"0x0\"]","spltType":"bin","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":1217,"y":393,"wires":[["1ee64998.d97ee6"]]},{"id":"9d39c47e.691bb8","type":"function","z":"90e1efea.3b91a","name":"Buffer2Int","func":"var str = msg.payload.toString('hex');\nmsg.payload = parseInt(str, 16)/1000;\nreturn msg;","outputs":1,"noerr":0,"x":1240,"y":520,"wires":[["b2d28ee7.31519","7f57ecdd.97c264"]]},{"id":"1ee64998.d97ee6","type":"switch","z":"90e1efea.3b91a","name":"","property":"payload","propertyType":"msg","rules":[{"t":"tail","v":"1","vt":"num"},{"t":"head","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":1234,"y":456,"wires":[["ea38b7fc.be4e88"],["9d39c47e.691bb8"]]},{"id":"dd8d08c3.e31068","type":"debug","z":"90e1efea.3b91a","name":"IL3","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1470,"y":640,"wires":[]},{"id":"171c7f4b.395711","type":"debug","z":"90e1efea.3b91a","name":"Q34","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":820,"y":500,"wires":[]},{"id":"ea38b7fc.be4e88","type":"split","z":"90e1efea.3b91a","name":"Split_UL1","splt":"[\"0x9\",\"0x6\",\"0x1\",\"0x1\",\"0x20\",\"0x7\",\"0x0\",\"0xff\",\"0x12\",\"0x0\"]","spltType":"bin","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":1440,"y":440,"wires":[["e6f68e13.c9b47"]]},{"id":"da31dfd6.c8b0f","type":"function","z":"90e1efea.3b91a","name":"Buffer2Int","func":"var str = msg.payload.toString('hex');\nmsg.payload = parseInt(str, 16)/1000;\nreturn msg;","outputs":1,"noerr":0,"x":1463,"y":567,"wires":[["dd8d08c3.e31068","fe872ede.ad6b7"]]},{"id":"e6f68e13.c9b47","type":"switch","z":"90e1efea.3b91a","name":"","property":"payload","propertyType":"msg","rules":[{"t":"tail","v":"1","vt":"num"},{"t":"head","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":1457,"y":503,"wires":[["d3d87f1c.9bb09"],["da31dfd6.c8b0f"]]},{"id":"a5e266a.8b55e98","type":"debug","z":"90e1efea.3b91a","name":"UL1","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1710,"y":640,"wires":[]},{"id":"d3d87f1c.9bb09","type":"split","z":"90e1efea.3b91a","name":"Split_UL2","splt":"[\"0x9\",\"0x6\",\"0x1\",\"0x1\",\"0x34\",\"0x7\",\"0x0\",\"0xff\",\"0x12\",\"0x0\"]","spltType":"bin","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":1680,"y":440,"wires":[["cfeb566f.4cabf8"]]},{"id":"6663babd.75b9c4","type":"function","z":"90e1efea.3b91a","name":"Buffer2Int","func":"var str = msg.payload.toString('hex');\nmsg.payload = parseInt(str, 16);\nreturn msg;","outputs":1,"noerr":0,"x":1703,"y":567,"wires":[["a5e266a.8b55e98","b4b73f56.76889"]]},{"id":"cfeb566f.4cabf8","type":"switch","z":"90e1efea.3b91a","name":"","property":"payload","propertyType":"msg","rules":[{"t":"tail","v":"1","vt":"num"},{"t":"head","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":1697,"y":503,"wires":[["2752964d.9186fa"],["6663babd.75b9c4"]]},{"id":"2bf291f2.348a0e","type":"debug","z":"90e1efea.3b91a","name":"UL2","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1910,"y":640,"wires":[]},{"id":"2752964d.9186fa","type":"split","z":"90e1efea.3b91a","name":"Split_UL3","splt":"[\"0x9\",\"0x6\",\"0x1\",\"0x1\",\"0x48\",\"0x7\",\"0x0\",\"0xff\",\"0x12\",\"0x0\"]","spltType":"bin","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":1880,"y":440,"wires":[["7ed935a5.a8652c"]]},{"id":"7b46b2f8.fa3d2c","type":"function","z":"90e1efea.3b91a","name":"Buffer2Int","func":"var str = msg.payload.toString('hex');\nmsg.payload = parseInt(str, 16);\nreturn msg;","outputs":1,"noerr":0,"x":1903,"y":567,"wires":[["2bf291f2.348a0e","4e537b96.2d8414"]]},{"id":"7ed935a5.a8652c","type":"switch","z":"90e1efea.3b91a","name":"","property":"payload","propertyType":"msg","rules":[{"t":"tail","v":"1","vt":"num"},{"t":"head","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":1897,"y":503,"wires":[["2dd028c0.fa2488","312fd6d6.f19d4a"],["7b46b2f8.fa3d2c"]]},{"id":"e490e999.652548","type":"debug","z":"90e1efea.3b91a","name":"UL3","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":2090,"y":640,"wires":[]},{"id":"2dd028c0.fa2488","type":"function","z":"90e1efea.3b91a","name":"","func":"var UL3 = msg.payload[0];\n\nmsg.payload = UL3;\n\nreturn msg;","outputs":1,"noerr":0,"x":2100,"y":560,"wires":[["e490e999.652548","34e8e97d.dfd136"]]},{"id":"a48c6edb.c3882","type":"influxdb out","z":"90e1efea.3b91a","influxdb":"ccfbe2cc.9eabe","name":"","measurement":"P14","precision":"","retentionPolicy":"","x":220,"y":540,"wires":[]},{"id":"bc67ba98.256748","type":"influxdb out","z":"90e1efea.3b91a","influxdb":"ccfbe2cc.9eabe","name":"","measurement":"P23","precision":"","retentionPolicy":"","x":440,"y":600,"wires":[]},{"id":"62199f05.4d877","type":"influxdb out","z":"90e1efea.3b91a","influxdb":"ccfbe2cc.9eabe","name":"","measurement":"Q12","precision":"","retentionPolicy":"","x":580,"y":540,"wires":[]},{"id":"8fba62d1.811c5","type":"influxdb out","z":"90e1efea.3b91a","influxdb":"ccfbe2cc.9eabe","name":"","measurement":"Q34","precision":"","retentionPolicy":"","x":800,"y":600,"wires":[]},{"id":"2124d6d.24f252a","type":"influxdb out","z":"90e1efea.3b91a","influxdb":"ccfbe2cc.9eabe","name":"","measurement":"IL1","precision":"","retentionPolicy":"","x":1020,"y":700,"wires":[]},{"id":"7f57ecdd.97c264","type":"influxdb out","z":"90e1efea.3b91a","influxdb":"ccfbe2cc.9eabe","name":"","measurement":"IL2","precision":"","retentionPolicy":"","x":1160,"y":640,"wires":[]},{"id":"fe872ede.ad6b7","type":"influxdb out","z":"90e1efea.3b91a","influxdb":"ccfbe2cc.9eabe","name":"","measurement":"IL3","precision":"","retentionPolicy":"","x":1400,"y":720,"wires":[]},{"id":"b4b73f56.76889","type":"influxdb out","z":"90e1efea.3b91a","influxdb":"ccfbe2cc.9eabe","name":"","measurement":"UL1","precision":"","retentionPolicy":"","x":1600,"y":800,"wires":[]},{"id":"4e537b96.2d8414","type":"influxdb out","z":"90e1efea.3b91a","influxdb":"ccfbe2cc.9eabe","name":"","measurement":"UL2","precision":"","retentionPolicy":"","x":1820,"y":740,"wires":[]},{"id":"34e8e97d.dfd136","type":"influxdb out","z":"90e1efea.3b91a","influxdb":"ccfbe2cc.9eabe","name":"","measurement":"UL3","precision":"","retentionPolicy":"","x":2040,"y":820,"wires":[]},{"id":"de928b09.a0ad88","type":"switch","z":"90e1efea.3b91a","name":"","property":"payload","propertyType":"msg","rules":[{"t":"tail","v":"1","vt":"num"},{"t":"head","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":2310,"y":480,"wires":[["2bf90d35.7386d2"],[]]},{"id":"8a2195af.ad8958","type":"split","z":"90e1efea.3b91a","name":"Split_RTC","splt":"[\"0x9\",\"0x6\",\"0x0\",\"0x1\",\"0x1\",\"0x0\",\"0x0\",\"0xff\",\"0x9\"]","spltType":"bin","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":2300,"y":420,"wires":[["de928b09.a0ad88"]]},{"id":"2bf90d35.7386d2","type":"split","z":"90e1efea.3b91a","name":"Split_A14","splt":"[\"0x9\",\"0x6\",\"0x1\",\"0x1\",\"0x1\",\"0x8\",\"0x0\",\"0xff\",\"0x6\"]","spltType":"bin","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":2500,"y":400,"wires":[["d9f88661.b37bc8"]]},{"id":"62550792.f04248","type":"split","z":"90e1efea.3b91a","name":"Split_A23","splt":"[\"0x9\",\"0x6\",\"0x1\",\"0x1\",\"0x2\",\"0x8\",\"0x0\",\"0xff\",\"0x6\"]","spltType":"bin","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":2680,"y":440,"wires":[["1640fdc6.aa3cb2"]]},{"id":"19b9d6ad.190019","type":"split","z":"90e1efea.3b91a","name":"Split_R12","splt":"[\"0x9\",\"0x6\",\"0x1\",\"0x1\",\"0x3\",\"0x8\",\"0x0\",\"0xff\",\"0x6\"]","spltType":"bin","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":2900,"y":440,"wires":[["1d35205d.cd413"]]},{"id":"983ad502.0e9728","type":"split","z":"90e1efea.3b91a","name":"Split_R34","splt":"[\"0x9\",\"0x6\",\"0x1\",\"0x1\",\"0x4\",\"0x8\",\"0x0\",\"0xff\",\"0x6\"]","spltType":"bin","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":3120,"y":420,"wires":[["a1bfe5f8.884978"]]},{"id":"d25b4891.67fa98","type":"debug","z":"90e1efea.3b91a","name":"A14","active":false,"tosidebar":false,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":2670,"y":640,"wires":[]},{"id":"40653ec9.618c4","type":"debug","z":"90e1efea.3b91a","name":"A23","active":false,"tosidebar":false,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":2880,"y":640,"wires":[]},{"id":"7339ecdd.2dca74","type":"debug","z":"90e1efea.3b91a","name":"R12","active":false,"tosidebar":false,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":3120,"y":640,"wires":[]},{"id":"df1188da.c8f018","type":"debug","z":"90e1efea.3b91a","name":"R34","active":false,"tosidebar":false,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":3390,"y":660,"wires":[]},{"id":"d9f88661.b37bc8","type":"switch","z":"90e1efea.3b91a","name":"","property":"payload","propertyType":"msg","rules":[{"t":"tail","v":"1","vt":"num"},{"t":"head","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":2500,"y":460,"wires":[["62550792.f04248"],["64eabcd7.6d0344"]]},{"id":"1640fdc6.aa3cb2","type":"switch","z":"90e1efea.3b91a","name":"","property":"payload","propertyType":"msg","rules":[{"t":"tail","v":"1","vt":"num"},{"t":"head","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":2690,"y":500,"wires":[["19b9d6ad.190019"],["801d18ac.5bd198"]]},{"id":"1d35205d.cd413","type":"switch","z":"90e1efea.3b91a","name":"","property":"payload","propertyType":"msg","rules":[{"t":"tail","v":"1","vt":"num"},{"t":"head","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":2900,"y":500,"wires":[["983ad502.0e9728"],["64f721d7.86da7"]]},{"id":"801d18ac.5bd198","type":"function","z":"90e1efea.3b91a","name":"Buffer2Int","func":"var str = msg.payload.toString('hex');\nmsg.payload = parseInt(str, 16)*10;\nreturn msg;","outputs":1,"noerr":0,"x":2690,"y":580,"wires":[["d25b4891.67fa98","c492af67.db176"]]},{"id":"64f721d7.86da7","type":"function","z":"90e1efea.3b91a","name":"Buffer2Int","func":"var str = msg.payload.toString('hex');\nmsg.payload = parseInt(str, 16);\nreturn msg;","outputs":1,"noerr":0,"x":2900,"y":560,"wires":[["40653ec9.618c4","ca615f1c.d1d04"]]},{"id":"a1bfe5f8.884978","type":"switch","z":"90e1efea.3b91a","name":"","property":"payload","propertyType":"msg","rules":[{"t":"tail","v":"1","vt":"num"},{"t":"head","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":3110,"y":500,"wires":[["b9967014.cbfb6"],["7bddad04.279434"]]},{"id":"7bddad04.279434","type":"function","z":"90e1efea.3b91a","name":"Buffer2Int","func":"var str = msg.payload.toString('hex');\nmsg.payload =parseInt(str, 16); \nreturn msg;","outputs":1,"noerr":0,"x":3120,"y":560,"wires":[["7339ecdd.2dca74","6faeb569.a1929c"]]},{"id":"c492af67.db176","type":"influxdb out","z":"90e1efea.3b91a","influxdb":"ccfbe2cc.9eabe","name":"","measurement":"A14","precision":"","retentionPolicy":"","x":2520,"y":820,"wires":[]},{"id":"b9967014.cbfb6","type":"split","z":"90e1efea.3b91a","name":"","splt":"4","spltType":"len","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":3270,"y":500,"wires":[["b88e6859.e1b708"]]},{"id":"abf0bcda.fdb7","type":"function","z":"90e1efea.3b91a","name":"Buffer2Int","func":"var str = msg.payload.toString('hex');\nmsg.payload = parseInt(str, 16);\nreturn msg;","outputs":1,"noerr":0,"x":3400,"y":620,"wires":[["df1188da.c8f018","b190ac7b.a82c2"]]},{"id":"fc09b95a.4efca8","type":"debug","z":"90e1efea.3b91a","name":"RTC","active":false,"tosidebar":false,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":2510,"y":640,"wires":[]},{"id":"312fd6d6.f19d4a","type":"function","z":"90e1efea.3b91a","name":"","func":"if (msg.payload[3] != 0x7e){\n    return [msg]\n    }\n    else{\n        return [null]\n    }\n    ","outputs":1,"noerr":0,"x":2090,"y":460,"wires":[["3da10bc8.c7da84","8a2195af.ad8958"]]},{"id":"3da10bc8.c7da84","type":"debug","z":"90e1efea.3b91a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2340,"y":300,"wires":[]},{"id":"ca615f1c.d1d04","type":"influxdb out","z":"90e1efea.3b91a","influxdb":"ccfbe2cc.9eabe","name":"","measurement":"A23","precision":"","retentionPolicy":"","x":2780,"y":760,"wires":[]},{"id":"b88e6859.e1b708","type":"switch","z":"90e1efea.3b91a","name":"","property":"payload","propertyType":"msg","rules":[{"t":"head","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":3390,"y":500,"wires":[["abf0bcda.fdb7"]]},{"id":"64eabcd7.6d0344","type":"function","z":"90e1efea.3b91a","name":"Buffer2Int","func":"var str = msg.payload.toString('hex');\nmsg.payload = parseInt(str, 16);\nreturn msg;","outputs":1,"noerr":0,"x":2510,"y":580,"wires":[["fc09b95a.4efca8"]]},{"id":"6faeb569.a1929c","type":"influxdb out","z":"90e1efea.3b91a","influxdb":"ccfbe2cc.9eabe","name":"","measurement":"R12","precision":"","retentionPolicy":"","x":3060,"y":840,"wires":[]},{"id":"b190ac7b.a82c2","type":"influxdb out","z":"90e1efea.3b91a","influxdb":"ccfbe2cc.9eabe","name":"","measurement":"R34","precision":"","retentionPolicy":"","x":3440,"y":800,"wires":[]}]